# Database
DATABASE_URL="postgresql://user:password@localhost:5432/kalai_arangam?schema=public"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# App URL
NEXT_PUBLIC_BASE_URL="http://localhost:5000"

# Location API
IP_API_URL="http://ip-api.com/json"
