# Database
DATABASE_URL="postgresql://user:password@localhost:5432/kalai_arangam?schema=public"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# NextAuth
NEXTAUTH_URL="http://localhost:5000"
NEXTAUTH_SECRET=""

# Location API
IP_API_URL="http://ip-api.com/json"
